<html>
  <head>
    <h1>
      <title>ABOUT US BABY!</title>
    </h1>
  </head>
  <body>
    <%= link_to 'Home', root_path %>
    <h1>MY STORY BABY!</h1>
    <p1>I ALWAYS LIVE THE FULLEST BABY!</p1>
  </body>
  
</html>