<html>
  <head>
    <h1>
      <title>HOMEPAGE BABY!</title>
    </h1>
  </head>
  <body>
    <%= link_to 'About', about_path %>
    <h1>HELLO BABY!</h1>
    <p1>YOU CALL AND ITS ALL OVER BABY!</p1>
  </body>
  
</html>